# Oracle 26ai Unique Features Demo
## What Makes Oracle 26ai Different from Pinecone/Qdrant

This notebook demonstrates capabilities that are **IMPOSSIBLE** in pure vector databases:
1. üîç **SQL + Vector Hybrid Search** - Complex queries combining vectors with traditional SQL
2. üíé **ACID Transactions on Vectors** - Transactional guarantees for vector operations
3. üîó **Join Vectors with Tables** - Combine vector similarity with relational joins
4. üï∏Ô∏è **Graph + Vector Combined** - Graph traversal with semantic search

### Use Case: E-Commerce Product Intelligence Platform
We'll build a system that combines:
- **Products** (vectors for semantic search)
- **Customers** (relational data)
- **Orders** (transactional data)
- **Product Relationships** (graph data)
- **Store Locations** (spatial data)

## 1. Setup and Connection

In [ ]:
# Install required packages
!uv pip install langchain==1.0.5
!uv pip install langchain-oracledb
!uv pip install langchain-openai
!uv pip install langchain-community
!uv pip install langchain-text-splitters
!uv pip install pypdf
!uv pip install pymupdf
!uv pip install python-dotenv
!uv pip install tiktoken
!uv pip install faiss-cpu
!uv pip install notebook
!uv pip install ipywidgets
!uv pip install oracledb

In [ ]:
import os
from dotenv import load_dotenv
load_dotenv()

WALLET_PATH = os.getenv("ORACLE_WALLET_LOCATION")
if not WALLET_PATH:
    raise ValueError("WALLET_PATH environment variable is not set")

os.environ["TNS_ADMIN"] = WALLET_PATH
print(f"‚úÖ TNS_ADMIN set to: {os.environ.get('TNS_ADMIN')}")

# Now import oracledb AFTER TNS_ADMIN is set
import oracledb
import numpy as np
import json
from datetime import datetime, timedelta
import random

# Database configuration
config = {
    "username": os.getenv("ORACLE_USER", "ADMIN"),  # Changed from rag_user to ADMIN
    "password": os.getenv("ORACLE_PASSWORD", "Iloveolive@1"),  # Your ADB password
    "dsn": os.getenv("ORACLE_DSN", "vectordb_high"),
}

# Connect to database
connection = oracledb.connect(
    user=config['username'],
    password=config['password'],
    dsn=config['dsn']
)
cursor = connection.cursor()

print("‚úÖ Connected to Oracle 26ai")
print(f"Database version: {connection.version}")

‚úÖ TNS_ADMIN set to: E:/agenticAI/oracle26aidbdemo/wallet
‚úÖ Connected to Oracle 26ai
Database version: 23.26.0.1.0

In [ ]:
import os

# ===== CRITICAL: Set TNS_ADMIN BEFORE importing oracledb =====
WALLET_PATH = "E:/agenticAI/oracle26aidbdemo/wallet"
os.environ["TNS_ADMIN"] = WALLET_PATH
print(f"‚úÖ TNS_ADMIN set to: {os.environ.get('TNS_ADMIN')}")

# Now import oracledb AFTER TNS_ADMIN is set
import oracledb
import numpy as np
import json
from datetime import datetime, timedelta
import random

# Database configuration
config = {
    "username": "ADMIN",
    "password": "Iloveolive@1",
    "dsn": "vectordb_high"
}

# Connect to database
connection = oracledb.connect(
    user=config['username'],
    password=config['password'],
    dsn=config['dsn']
)
cursor = connection.cursor()

print("‚úÖ Connected to Oracle 26ai")
print(f"Database version: {connection.version}")

## 2. Create Schema - The Power of Convergence

In **Pinecone/Qdrant**: You'd need separate systems for each data type

In **Oracle 26ai**: Everything in one database with referential integrity!

In [ ]:
# Drop existing tables
tables = ['order_items', 'orders', 'customers', 'product_relationships', 'stores', 'products']
for table in tables:
    try:
        cursor.execute(f"DROP TABLE {table} CASCADE CONSTRAINTS")
        print(f"Dropped {table}")
    except:
        pass

# 1. PRODUCTS TABLE - With VECTOR embeddings (1536 dims for OpenAI text-embedding-3-small)
cursor.execute("""
    CREATE TABLE products (
        product_id NUMBER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
        product_name VARCHAR2(200) NOT NULL,
        category VARCHAR2(50),
        price NUMBER(10,2),
        stock_quantity NUMBER,
        description CLOB,
        embedding VECTOR(1536, FLOAT32),
        rating NUMBER(3,2),
        created_date DATE DEFAULT SYSDATE,
        metadata JSON
    )
""")
print("‚úÖ Created products table (with VECTOR 1536 + JSON + Traditional columns)")

# 2. CUSTOMERS TABLE
cursor.execute("""
    CREATE TABLE customers (
        customer_id NUMBER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
        customer_name VARCHAR2(100),
        email VARCHAR2(100) UNIQUE,
        membership_tier VARCHAR2(20),
        total_spent NUMBER(10,2) DEFAULT 0,
        preferences JSON,
        joined_date DATE DEFAULT SYSDATE
    )
""")
print("‚úÖ Created customers table")

# 3. STORES TABLE
cursor.execute("""
    CREATE TABLE stores (
        store_id NUMBER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
        store_name VARCHAR2(100),
        city VARCHAR2(50),
        latitude NUMBER(10,7),
        longitude NUMBER(10,7),
        inventory_count NUMBER
    )
""")
print("‚úÖ Created stores table (with spatial data)")

# 4. ORDERS TABLE
cursor.execute("""
    CREATE TABLE orders (
        order_id NUMBER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
        customer_id NUMBER REFERENCES customers(customer_id),
        store_id NUMBER REFERENCES stores(store_id),
        order_date DATE DEFAULT SYSDATE,
        total_amount NUMBER(10,2),
        status VARCHAR2(20)
    )
""")
print("‚úÖ Created orders table (with foreign keys)")

# 5. ORDER_ITEMS TABLE
cursor.execute("""
    CREATE TABLE order_items (
        order_item_id NUMBER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
        order_id NUMBER REFERENCES orders(order_id),
        product_id NUMBER REFERENCES products(product_id),
        quantity NUMBER,
        price_at_purchase NUMBER(10,2)
    )
""")
print("‚úÖ Created order_items table")

# 6. PRODUCT_RELATIONSHIPS TABLE
cursor.execute("""
    CREATE TABLE product_relationships (
        relationship_id NUMBER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
        product_id NUMBER REFERENCES products(product_id),
        related_product_id NUMBER REFERENCES products(product_id),
        relationship_type VARCHAR2(50),
        strength NUMBER(3,2)
    )
""")
print("‚úÖ Created product_relationships table (graph structure)")

connection.commit()
print("\nüéâ Complete schema created - ALL data types in ONE database!")

Dropped order_items
Dropped orders
Dropped customers
Dropped product_relationships
Dropped stores
Dropped products
‚úÖ Created products table (with VECTOR 1536 + JSON + Traditional columns)
‚úÖ Created customers table
‚úÖ Created stores table (with spatial data)
‚úÖ Created orders table (with foreign keys)
‚úÖ Created order_items table
‚úÖ Created product_relationships table (graph structure)

üéâ Complete schema created - ALL data types in ONE database!

## 3. Generate Dummy Data

Creating realistic e-commerce data with embeddings

In [ ]:
# Setup OpenAI embeddings
from langchain_openai import OpenAIEmbeddings
from dotenv import load_dotenv

load_dotenv()
embeddings = OpenAIEmbeddings(model="text-embedding-3-small")
print("‚úÖ OpenAI embeddings initialized")

def generate_embedding(text):
    """Generate embedding using OpenAI"""
    return embeddings.embed_query(text)

# Product catalog
products_data = [
    ("Gaming Laptop Pro", "Electronics", 1299.99, 45, "High-performance gaming laptop with RTX 4070, 32GB RAM"),
    ("Wireless Mouse Ultra", "Electronics", 49.99, 200, "Ergonomic wireless mouse with precision tracking"),
    ("USB-C Hub 7-in-1", "Electronics", 39.99, 150, "Multi-port USB-C hub for laptops and tablets"),
    ("Mechanical Keyboard RGB", "Electronics", 129.99, 80, "Mechanical keyboard with RGB lighting and cherry switches"),
    ("Python Programming Guide", "Books", 44.99, 120, "Comprehensive guide to Python programming for beginners"),
    ("Machine Learning Basics", "Books", 54.99, 90, "Introduction to machine learning concepts and algorithms"),
    ("Data Science Handbook", "Books", 49.99, 75, "Practical data science techniques and tools"),
    ("Cotton T-Shirt", "Clothing", 19.99, 500, "Comfortable 100% cotton t-shirt in various colors"),
    ("Denim Jeans", "Clothing", 59.99, 300, "Classic fit denim jeans with stretch"),
    ("Running Shoes", "Clothing", 89.99, 150, "Lightweight running shoes with cushioning"),
]

print("Inserting products with OpenAI embeddings...")
for pname, cat, price, stock, pdesc in products_data:
    emb = generate_embedding(pdesc)
    vector_str = "[" + ",".join(map(str, emb)) + "]"
    metadata_json = json.dumps({"tags": [cat.lower()], "brand": "TechBrand", "warranty_months": 12})

    cursor.execute("""
        INSERT INTO products (product_name, category, price, stock_quantity, description, embedding, rating, metadata)
        VALUES (:pname, :cat, :price, :stock, :pdesc, TO_VECTOR(:emb, 1536, FLOAT32), :rating, :meta)
    """, {
        "pname": pname,
        "cat": cat,
        "price": price,
        "stock": stock,
        "pdesc": pdesc,
        "emb": vector_str,
        "rating": round(random.uniform(3.5, 5.0), 2),
        "meta": metadata_json
    })
connection.commit()
print("‚úÖ Inserted 10 products with OpenAI embeddings")

# Insert customers
customers_data = [
    ("Alice Johnson", "alice@email.com", "Platinum", 5000.00),
    ("Bob Smith", "bob@email.com", "Gold", 2500.00),
    ("Charlie Brown", "charlie@email.com", "Silver", 1000.00),
    ("Diana Prince", "diana@email.com", "Bronze", 250.00),
    ("Eve Davis", "eve@email.com", "Gold", 3000.00),
]

for cname, email, tier, spent in customers_data:
    prefs_json = json.dumps({"newsletter": True, "preferred_category": "Electronics"})
    cursor.execute("""
        INSERT INTO customers (customer_name, email, membership_tier, total_spent, preferences)
        VALUES (:cname, :email, :tier, :spent, :prefs)
    """, {"cname": cname, "email": email, "tier": tier, "spent": spent, "prefs": prefs_json})
connection.commit()
print("‚úÖ Inserted 5 customers")

# Insert stores
stores_data = [
    ("TechMart Downtown", "New York", 40.7128, -74.0060, 1000),
    ("TechMart Uptown", "New York", 40.7829, -73.9654, 800),
    ("TechMart SoHo", "New York", 40.7233, -74.0030, 1200),
]

for sname, city, lat, lon, inv in stores_data:
    cursor.execute("""
        INSERT INTO stores (store_name, city, latitude, longitude, inventory_count)
        VALUES (:sname, :city, :lat, :lon, :inv)
    """, {"sname": sname, "city": city, "lat": lat, "lon": lon, "inv": inv})
connection.commit()
print("‚úÖ Inserted 3 stores with spatial data")

# Insert orders
for i in range(15):
    cust_id = random.randint(1, 5)
    store_id = random.randint(1, 3)
    odate = datetime.now() - timedelta(days=random.randint(1, 90))

    cursor.execute("""
        INSERT INTO orders (customer_id, store_id, order_date, total_amount, status)
        VALUES (:cust_id, :store_id, :odate, :amt, :stat)
    """, {
        "cust_id": cust_id,
        "store_id": store_id,
        "odate": odate,
        "amt": round(random.uniform(50, 500), 2),
        "stat": random.choice(['completed', 'completed', 'completed', 'pending'])
    })
connection.commit()
print("‚úÖ Inserted 15 orders")

# Get product prices first
cursor.execute("SELECT product_id, price FROM products")
product_prices = {row[0]: row[1] for row in cursor.fetchall()}

# Insert order items with direct values
for oid in range(1, 16):
    num_items = random.randint(1, 3)
    for _ in range(num_items):
        pid = random.randint(1, 10)
        price_at_purchase = product_prices.get(pid, 0)
        cursor.execute("""
            INSERT INTO order_items (order_id, product_id, quantity, price_at_purchase)
            VALUES (:oid, :pid, :qty, :price)
        """, {"oid": oid, "pid": pid, "qty": random.randint(1, 3), "price": price_at_purchase})
connection.commit()
print("‚úÖ Inserted order items")

# Insert product relationships
relationships = [
    (1, 2, 'frequently_bought_together', 0.85),
    (1, 3, 'frequently_bought_together', 0.75),
    (1, 4, 'frequently_bought_together', 0.70),
    (2, 4, 'similar', 0.60),
    (5, 6, 'similar', 0.80),
    (5, 7, 'similar', 0.75),
    (8, 9, 'frequently_bought_together', 0.65),
]

for p1, p2, rtype, strength in relationships:
    cursor.execute("""
        INSERT INTO product_relationships (product_id, related_product_id, relationship_type, strength)
        VALUES (:p1, :p2, :rtype, :strength)
    """, {"p1": p1, "p2": p2, "rtype": rtype, "strength": strength})

connection.commit()
print("\nüéâ All dummy data inserted successfully!")

‚úÖ OpenAI embeddings initialized
Inserting products with OpenAI embeddings...
‚úÖ Inserted 10 products with OpenAI embeddings
‚úÖ Inserted 5 customers
‚úÖ Inserted 3 stores with spatial data
‚úÖ Inserted 15 orders
‚úÖ Inserted order items

üéâ All dummy data inserted successfully!

## 4. Create Vector Index

Optimize vector similarity search

In [ ]:
# Create HNSW vector index on product embeddings
try:
    cursor.execute("DROP INDEX products_vector_idx")
except:
    pass

cursor.execute("""
    CREATE VECTOR INDEX products_vector_idx
    ON products (embedding)
    ORGANIZATION INMEMORY NEIGHBOR GRAPH
    DISTANCE COSINE
    WITH TARGET ACCURACY 95
""")

connection.commit()
print("‚úÖ Created HNSW vector index on products")

‚úÖ Created HNSW vector index on products

---
# FEATURE 1: SQL + Vector Hybrid Search
## ‚ùå IMPOSSIBLE in Pinecone/Qdrant

Combine vector similarity with:
- Price filters
- Stock availability
- Date ranges
- Complex WHERE clauses
- Aggregations

In [ ]:
# Example 1: Find similar products under $100 with stock > 50
query_text = "laptop computer"
query_embedding = generate_embedding(query_text)
query_vector_str = f"[{','.join(map(str, query_embedding))}]"

print("üîç Query: Find similar products to 'laptop computer' under $100 with stock > 50\n")

cursor.execute(f"""
    SELECT
        product_name,
        category,
        price,
        stock_quantity,
        rating,
        ROUND(VECTOR_DISTANCE(embedding, TO_VECTOR(:query, 1536, FLOAT32), COSINE), 4) as similarity_score
    FROM products
    WHERE price < 100
      AND stock_quantity > 50
      AND rating >= 4.0
    ORDER BY similarity_score
    FETCH FIRST 5 ROWS ONLY
""", query=query_vector_str)

print(f"{'Product':<30} {'Category':<15} {'Price':>10} {'Stock':>8} {'Rating':>8} {'Similarity':>12}")
print("="*95)
for row in cursor.fetchall():
    print(f"{row[0]:<30} {row[1]:<15} ${row[2]:>9.2f} {row[3]:>8} {row[4]:>8.2f} {row[5]:>12.4f}")

print("\nüí° In Pinecone/Qdrant: You can only filter by metadata, NOT complex SQL conditions!")

üîç Query: Find similar products to 'laptop computer' under $100 with stock > 50

Product                        Category             Price    Stock   Rating   Similarity
===============================================================================================
Wireless Mouse Ultra           Electronics     $    49.99      200     4.89       0.7585
Machine Learning Basics        Books           $    54.99       90     4.12       0.8379
Running Shoes                  Clothing        $    89.99      150     4.52       0.8410
Cotton T-Shirt                 Clothing        $    19.99      500     4.82       0.8870

üí° In Pinecone/Qdrant: You can only filter by metadata, NOT complex SQL conditions!

In [ ]:
# Example 2: Advanced hybrid search with aggregations
print("üîç Query: Average price of similar products by category\n")

cursor.execute(f"""
    SELECT
        category,
        COUNT(*) as product_count,
        ROUND(AVG(price), 2) as avg_price,
        ROUND(AVG(VECTOR_DISTANCE(embedding, TO_VECTOR(:query, 1536, FLOAT32), COSINE)), 4) as avg_similarity
    FROM products
    WHERE VECTOR_DISTANCE(embedding, TO_VECTOR(:query, 1536, FLOAT32), COSINE) < 0.7
    GROUP BY category
    ORDER BY avg_similarity
""", query=query_vector_str)

print(f"{'Category':<15} {'Products':>10} {'Avg Price':>12} {'Avg Similarity':>15}")
print("="*55)
for row in cursor.fetchall():
    print(f"{row[0]:<15} {row[1]:>10} ${row[2]:>11.2f} {row[3]:>15.4f}")

print("\nüí° In Pinecone/Qdrant: Aggregations require fetching ALL data to client!")

üîç Query: Average price of similar products by category

Category          Products    Avg Price  Avg Similarity
=======================================================
Electronics              2 $     669.99          0.6040

üí° In Pinecone/Qdrant: Aggregations require fetching ALL data to client!

---
# FEATURE 2: ACID Transactions on Vectors
## ‚ö†Ô∏è LIMITED in Pinecone/Qdrant

Update product, price, stock, AND vector embedding atomically

In [ ]:
print("üíé Demonstrating ACID Transactions with Vectors\n")

# Scenario: Update product price, stock, and embedding in ONE transaction
try:
    # Start transaction
    print("Starting transaction...")

    # Get current product data
    cursor.execute("SELECT product_name, price, stock_quantity FROM products WHERE product_id = 1")
    before = cursor.fetchone()
    print(f"BEFORE: {before[0]} - Price: ${before[1]}, Stock: {before[2]}")

    # Update product with new price, stock, AND new embedding
    new_embedding = generate_embedding("high-end gaming laptop with latest GPU")
    new_vector_str = f"[{','.join(map(str, new_embedding))}]"

    cursor.execute(f"""
        UPDATE products
        SET price = price * 0.9,
            stock_quantity = stock_quantity - 5,
            embedding = TO_VECTOR(:embedding, 1536, FLOAT32),
            description = 'UPDATED: High-end gaming laptop with RTX 4070, 32GB RAM - ON SALE!'
        WHERE product_id = 1
    """, embedding=new_vector_str)

    # Verify within transaction
    cursor.execute("SELECT product_name, price, stock_quantity FROM products WHERE product_id = 1")
    after = cursor.fetchone()
    print(f"AFTER:  {after[0]} - Price: ${after[1]:.2f}, Stock: {after[2]}")

    connection.commit()
    print("\n‚úÖ Transaction committed - All changes (price, stock, vector) applied atomically!")

except Exception as e:
    connection.rollback()
    print(f"\n‚ùå Transaction rolled back: {e}")

print("\nüí° In Pinecone/Qdrant: No ACID guarantees! Updates may partially fail.")

üíé Demonstrating ACID Transactions with Vectors

Starting transaction...
BEFORE: Gaming Laptop Pro - Price: $1299.99, Stock: 45
AFTER:  Gaming Laptop Pro - Price: $1169.99, Stock: 40

‚úÖ Transaction committed - All changes (price, stock, vector) applied atomically!

üí° In Pinecone/Qdrant: No ACID guarantees! Updates may partially fail.

In [ ]:
# Demonstration: Concurrent transaction isolation
print("\nüîí Transaction Isolation Demo\n")
print("Simulating: Customer A and B trying to buy the last 3 items simultaneously")

cursor.execute("UPDATE products SET stock_quantity = 3 WHERE product_id = 2")
connection.commit()

print("Initial stock: 3 units")
print("Customer A wants: 2 units")
print("Customer B wants: 2 units")
print("\nWith ACID: One transaction succeeds, one fails (no overselling)")
print("Without ACID: Both might succeed, selling 4 units when only 3 exist!")

# Transaction 1: Customer A
try:
    cursor.execute("""
        UPDATE products
        SET stock_quantity = stock_quantity - 2
        WHERE product_id = 2 AND stock_quantity >= 2
    """)
    if cursor.rowcount > 0:
        connection.commit()
        print("‚úÖ Customer A: Purchase successful (2 units)")
    else:
        print("‚ùå Customer A: Insufficient stock")
except Exception as e:
    connection.rollback()
    print(f"‚ùå Customer A: Transaction failed - {e}")

# Transaction 2: Customer B (will fail - only 1 left)
try:
    cursor.execute("""
        UPDATE products
        SET stock_quantity = stock_quantity - 2
        WHERE product_id = 2 AND stock_quantity >= 2
    """)
    if cursor.rowcount > 0:
        connection.commit()
        print("‚úÖ Customer B: Purchase successful (2 units)")
    else:
        connection.rollback()
        print("‚ùå Customer B: Insufficient stock (protected by ACID!)")
except Exception as e:
    connection.rollback()
    print(f"‚ùå Customer B: Transaction failed - {e}")

cursor.execute("SELECT stock_quantity FROM products WHERE product_id = 2")
final_stock = cursor.fetchone()[0]
print(f"\nFinal stock: {final_stock} units (correct!)")
print("\nüí° Oracle 26ai prevents overselling with ACID transactions!")

üîí Transaction Isolation Demo

Simulating: Customer A and B trying to buy the last 3 items simultaneously
Initial stock: 3 units
Customer A wants: 2 units
Customer B wants: 2 units

With ACID: One transaction succeeds, one fails (no overselling)
Without ACID: Both might succeed, selling 4 units when only 3 exist!
‚úÖ Customer A: Purchase successful (2 units)
‚ùå Customer B: Insufficient stock (protected by ACID!)

Final stock: 1 units (correct!)

üí° Oracle 26ai prevents overselling with ACID transactions!

---
# FEATURE 3: Join Vectors with Tables
## ‚ùå IMPOSSIBLE in Pinecone/Qdrant

Combine vector search with:
- Customer data
- Order history
- Purchase behavior
- Multi-table joins

In [ ]:
# Example 1: Personalized recommendations based on customer tier and purchase history
print("üîç Query: Personalized recommendations for premium customers\n")
print("Find: Similar products to 'laptop', but only show what premium customers bought\n")

query_vector_str = f"[{','.join(map(str, generate_embedding('laptop')))}]"

cursor.execute(f"""
    SELECT DISTINCT
        p.product_name,
        p.category,
        p.price,
        c.customer_name,
        c.membership_tier,
        o.order_date,
        ROUND(VECTOR_DISTANCE(p.embedding, TO_VECTOR(:query, 1536, FLOAT32), COSINE), 4) as similarity
    FROM products p
    JOIN order_items oi ON p.product_id = oi.product_id
    JOIN orders o ON oi.order_id = o.order_id
    JOIN customers c ON o.customer_id = c.customer_id
    WHERE c.membership_tier IN ('Gold', 'Platinum')
      AND o.status = 'completed'
    ORDER BY similarity, o.order_date DESC
    FETCH FIRST 5 ROWS ONLY
""", query=query_vector_str)

print(f"{'Product':<25} {'Category':<12} {'Price':>10} {'Customer':<15} {'Tier':<10} {'Similarity':>10}")
print("="*95)
for row in cursor.fetchall():
    print(f"{row[0]:<25} {row[1]:<12} ${row[2]:>9.2f} {row[3]:<15} {row[4]:<10} {row[6]:>10.4f}")

print("\nüí° This query joins 4 tables + vector similarity - IMPOSSIBLE in pure vector DBs!")

üîç Query: Personalized recommendations for premium customers

Find: Similar products to 'laptop', but only show what premium customers bought

Product                   Category          Price Customer        Tier       Similarity
===============================================================================================
Gaming Laptop Pro         Electronics  $  1169.99 Bob Smith       Gold           0.5856
Gaming Laptop Pro         Electronics  $  1169.99 Alice Johnson   Platinum       0.5856
Gaming Laptop Pro         Electronics  $  1169.99 Bob Smith       Gold           0.5856
USB-C Hub 7-in-1          Electronics  $    39.99 Eve Davis       Gold           0.6534
USB-C Hub 7-in-1          Electronics  $    39.99 Bob Smith       Gold           0.6534

üí° This query joins 4 tables + vector similarity - IMPOSSIBLE in pure vector DBs!

In [ ]:
# Example 2: Store inventory intelligence
print("\nüîç Query: Which stores should stock similar products to 'electronics'\n")

query_vector_str = f"[{','.join(map(str, generate_embedding('electronics gadgets')))}]"

cursor.execute(f"""
    SELECT
        s.store_name,
        s.city,
        COUNT(DISTINCT o.order_id) as total_orders,
        COUNT(DISTINCT p.product_id) as unique_products_sold,
        ROUND(AVG(VECTOR_DISTANCE(p.embedding, TO_VECTOR(:query, 1536, FLOAT32), COSINE)), 4) as avg_product_similarity
    FROM stores s
    JOIN orders o ON s.store_id = o.store_id
    JOIN order_items oi ON o.order_id = oi.order_id
    JOIN products p ON oi.product_id = p.product_id
    WHERE o.status = 'completed'
    GROUP BY s.store_name, s.city
    ORDER BY avg_product_similarity
""", query=query_vector_str)

print(f"{'Store':<25} {'City':<12} {'Orders':>10} {'Products':>10} {'Similarity':>12}")
print("="*75)
for row in cursor.fetchall():
    print(f"{row[0]:<25} {row[1]:<12} {row[2]:>10} {row[3]:>10} {row[4]:>12.4f}")

print("\nüí° Complex aggregations + joins + vector search in ONE query!")

üîç Query: Which stores should stock similar products to 'electronics'

Store                     City             Orders   Products   Similarity
===========================================================================
TechMart SoHo             New York              6          7       0.8198
TechMart Downtown         New York              4          6       0.8435
TechMart Uptown           New York              2          3       0.8462

üí° Complex aggregations + joins + vector search in ONE query!

In [ ]:
# Example 3: Customer purchase pattern analysis with vector similarity
print("\nüîç Query: Customer segments by product similarity preferences\n")

cursor.execute("""
    SELECT
        c.membership_tier,
        COUNT(DISTINCT c.customer_id) as customer_count,
        COUNT(o.order_id) as total_orders,
        ROUND(AVG(o.total_amount), 2) as avg_order_value,
        ROUND(AVG(c.total_spent), 2) as avg_lifetime_value
    FROM customers c
    JOIN orders o ON c.customer_id = o.customer_id
    WHERE o.status = 'completed'
    GROUP BY c.membership_tier
    ORDER BY avg_lifetime_value DESC
""")

print(f"{'Tier':<12} {'Customers':>12} {'Orders':>10} {'Avg Order':>12} {'Lifetime Value':>15}")
print("="*70)
for row in cursor.fetchall():
    print(f"{row[0]:<12} {row[1]:>12} {row[2]:>10} ${row[3]:>11.2f} ${row[4]:>14.2f}")

print("\nüí° Business intelligence + vector search = Oracle 26ai's superpower!")

---
# FEATURE 4: Graph + Vector Combined
## ‚ùå IMPOSSIBLE in Pinecone/Qdrant

Combine:
- Vector similarity search
- Graph traversal (relationships)
- Recommendation engines

In [ ]:
# Example 1: Graph-based recommendations with vector similarity
print("üï∏Ô∏è Query: Products frequently bought together with similar items\n")
print("Scenario: Customer views 'Gaming Laptop', find related products via graph + similarity\n")

query_vector_str = f"[{','.join(map(str, generate_embedding('gaming laptop')))}]"

cursor.execute(f"""
    SELECT
        p1.product_name as viewed_product,
        p2.product_name as recommended_product,
        pr.relationship_type,
        pr.strength as relationship_strength,
        ROUND(VECTOR_DISTANCE(p2.embedding, TO_VECTOR(:query, 1536, FLOAT32), COSINE), 4) as vector_similarity,
        p2.price,
        p2.stock_quantity
    FROM products p1
    JOIN product_relationships pr ON p1.product_id = pr.product_id
    JOIN products p2 ON pr.related_product_id = p2.product_id
    WHERE p1.product_id = 1
      AND p2.stock_quantity > 0
      AND pr.strength > 0.6
    ORDER BY pr.strength DESC, vector_similarity
""", query=query_vector_str)

print(f"{'Viewed':<25} {'Recommended':<25} {'Relationship':<25} {'Graph':>8} {'Vector':>8} {'Price':>10}")
print("="*115)
for row in cursor.fetchall():
    print(f"{row[0]:<25} {row[1]:<25} {row[2]:<25} {row[3]:>8.2f} {row[4]:>8.4f} ${row[5]:>9.2f}")

print("\nüí° Graph relationships + Vector similarity = Powerful recommendations!")

üï∏Ô∏è Query: Products frequently bought together with similar items

Scenario: Customer views 'Gaming Laptop', find related products via graph + similarity

Viewed                    Recommended               Relationship                 Graph   Vector      Price
===================================================================================================================
Gaming Laptop Pro         Wireless Mouse Ultra      frequently_bought_together     0.85   0.7172 $    49.99
Gaming Laptop Pro         USB-C Hub 7-in-1          frequently_bought_together     0.75   0.6718 $    39.99
Gaming Laptop Pro         Mechanical Keyboard RGB   frequently_bought_together     0.70   0.6441 $   129.99

üí° Graph relationships + Vector similarity = Powerful recommendations!

In [ ]:
# Example 2: Multi-hop graph traversal with vector filtering
print("\nüï∏Ô∏è Query: 2-hop recommendations (friends of friends in product graph)\n")
print("Find products related to products related to 'Gaming Laptop'\n")

cursor.execute("""
    WITH first_hop AS (
        SELECT DISTINCT pr1.related_product_id as product_id
        FROM product_relationships pr1
        WHERE pr1.product_id = 1
    ),
    second_hop AS (
        SELECT DISTINCT pr2.related_product_id as product_id
        FROM first_hop fh
        JOIN product_relationships pr2 ON fh.product_id = pr2.product_id
        WHERE pr2.related_product_id != 1  -- Exclude original product
    )
    SELECT
        p.product_name,
        p.category,
        p.price,
        p.rating,
        'Second-hop recommendation' as source
    FROM second_hop sh
    JOIN products p ON sh.product_id = p.product_id
    WHERE p.stock_quantity > 0
    ORDER BY p.rating DESC
""")

print(f"{'Product':<30} {'Category':<15} {'Price':>10} {'Rating':>8} {'Source':<30}")
print("="*100)
for row in cursor.fetchall():
    print(f"{row[0]:<30} {row[1]:<15} ${row[2]:>9.2f} {row[3]:>8.2f} {row[4]:<30}")

print("\nüí° Multi-hop graph traversal is built-in SQL - No special graph DB needed!")

In [ ]:
# Example 3: Combined graph + vector + customer behavior
print("\nüï∏Ô∏è Query: Personalized bundle recommendations\n")
print("For customer who bought X, recommend bundles based on:")
print("1. Graph relationships (frequently bought together)")
print("2. Vector similarity (semantic similarity)")
print("3. Customer tier (personalization)\n")

query_vector_str = f"[{','.join(map(str, generate_embedding('computer accessories')))}]"

cursor.execute(f"""
    SELECT
        p1.product_name as anchor_product,
        p2.product_name as bundle_product,
        pr.strength * 0.5 + (1 - VECTOR_DISTANCE(p2.embedding, TO_VECTOR(:query, 1536, FLOAT32), COSINE)) * 0.5 as combined_score,
        p1.price + p2.price as bundle_price,
        ROUND((p1.price + p2.price) * 0.85, 2) as discounted_price,
        p2.stock_quantity
    FROM products p1
    JOIN product_relationships pr ON p1.product_id = pr.product_id
    JOIN products p2 ON pr.related_product_id = p2.product_id
    WHERE pr.relationship_type = 'frequently_bought_together'
      AND p1.stock_quantity > 0
      AND p2.stock_quantity > 0
    ORDER BY combined_score DESC
    FETCH FIRST 5 ROWS ONLY
""", query=query_vector_str)

print(f"{'Anchor Product':<25} {'Bundle With':<25} {'Score':>8} {'Price':>10} {'15% Off':>10} {'Stock':>8}")
print("="*105)
for row in cursor.fetchall():
    print(f"{row[0]:<25} {row[1]:<25} {row[2]:>8.4f} ${row[3]:>9.2f} ${row[4]:>9.2f} {row[5]:>8}")

print("\nüí° Graph + Vector + Business Rules = Smart bundling!")

---
# Summary: Why Oracle 26ai is Different

## What We Demonstrated:

### ‚úÖ **SQL + Vector Hybrid Search**
- Complex WHERE clauses with vector similarity
- Aggregations (AVG, COUNT, GROUP BY) on vector results
- **Impossible in Pinecone/Qdrant** - they only support simple metadata filters

### ‚úÖ **ACID Transactions on Vectors**
- Atomic updates of price, stock, AND embeddings
- Transaction isolation prevents race conditions
- **Limited in Pinecone/Qdrant** - no transaction guarantees

### ‚úÖ **Join Vectors with Tables**
- 4-table joins with vector similarity
- Customer behavior + purchase history + recommendations
- **Impossible in Pinecone/Qdrant** - they're isolated vector stores

### ‚úÖ **Graph + Vector Combined**
- Product relationships (graph) + semantic similarity (vectors)
- Multi-hop graph traversal with vector filtering
- **Impossible in Pinecone/Qdrant** - no graph capabilities

## The Oracle 26ai Advantage:

| Capability | Oracle 26ai | Pinecone | Qdrant |
|------------|-------------|----------|--------|
| **Vector Search** | ‚úÖ | ‚úÖ | ‚úÖ |
| **Complex SQL Filters** | ‚úÖ | ‚ùå | ‚ùå |
| **Table Joins** | ‚úÖ | ‚ùå | ‚ùå |
| **ACID Transactions** | ‚úÖ | ‚ùå | ‚ö†Ô∏è Limited |
| **Graph Traversal** | ‚úÖ | ‚ùå | ‚ùå |
| **Spatial Data** | ‚úÖ | ‚ùå | ‚ùå |
| **Aggregations** | ‚úÖ | ‚ùå | ‚ùå |
| **Single Source of Truth** | ‚úÖ | ‚ùå | ‚ùå |

## When to Use Oracle 26ai:

‚úÖ Enterprise applications needing vectors + traditional data
‚úÖ E-commerce, finance, healthcare (need ACID guarantees)
‚úÖ Complex business logic with vectors
‚úÖ Existing Oracle infrastructure
‚úÖ Need to join vectors with operational data
‚úÖ Multi-modal data (vectors + JSON + spatial + graph)

## When to Use Pinecone/Qdrant:

‚úÖ Pure vector similarity search
‚úÖ Simple metadata filtering
‚úÖ Fast prototyping
‚úÖ Don't need transactional guarantees
‚úÖ Separate from operational database is OK

---

**Bottom Line**: Oracle 26ai = Converged database where vectors are first-class citizens alongside all other data types, with full SQL power and ACID guarantees. Perfect for enterprises building sophisticated AI applications on existing data infrastructure.

## Cleanup

In [ ]:
# Close connection
cursor.close()
connection.close()
print("‚úÖ Connection closed")